body {
  background-image: url(chuck.png);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.container {
  text-align: center;
  padding: 50px;
  box-shadow: 0px 0px 13px 5px rgba(68, 68, 68, 0.2);
  background: white;
}

h1 {
  padding: 50px 0px;
}

label {
  font-size: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  padding-bottom: 10px;
}

#get-jokes {
  margin-top: 50px;
  margin-bottom: 50px;
  list-style-type: none;
}

.jokes {
  display: none;
}

li {
  margin-bottom: 20px;
  font-weight: bold;
  text-align: left;
}

.loading {
  display: none;
}
